<mat-toolbar color="primary">{{title}}
<span class="spacer"></span>
<div class = "header-right">
  <a routerLink=''><a mat-raised-button>Home</a></a>
  <a mat-raised-button>Search</a>
  <a routerLink ='booking'><a mat-raised-button>Book</a></a>
</div>
</mat-toolbar>
<router-outlet></router-outlet>

