
<!-- <div *ngIf="bookings.length > 0; else noList">
 -->
  <ul class = "bookings">
  <li *ngFor = "let booking of bookings" style="list-style-type: none;">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{booking.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{booking.environment}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    {{booking.startDate| date: 'dd/MM/yyyy'}} - {{booking.endDate| date: 'dd/MM/yyyy'}}
    <button (click)="delete(booking.name,booking.environment,booking.startDate,booking.endDate)">Cancel Booking</button>
  </mat-expansion-panel>
</li>
</ul>  
<!-- </div> -->
<ng-template #noList>No list</ng-template>